body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px;
}
header{
  text-align: center;

}
nav{
  text-align: center;
}
#nav-link{
  background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    
}
#featured-property{
  text-align: center;
}
#details{
  text-align: center;
  background: fixed;
  background-color: rgb(180, 77, 77);
  border: 3px solid #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  
}
div{
  width: 25%;
  float: left;
  padding: 20px;
  
}


